/*Стилизация проекта -*/
/*index.html - все блоки с user - по 2 в ряд. кнопки/ссылки находяться под информацией про user.*/
/*user-details.html - блок с информацией про user вверху страницы. Кнопка ниже, на 90% ширины страницы, по центру.*/
/*блоки с краткой информацией про post - в ряд по 5 объектов.*/
/*post-details.html - блок с информацией про пост вверху. Комментарии - по 4 в ряд.*/
/*Все без исключения элементы, который характеризируют user,post,comment  визуализировать, так, что бы было видно их
блоки (дать задний фон + margin. Иными словами - крайне четкая сетка)*/

*{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

#title{
    text-align: center;
    font-size: 30px;
}

.users{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin: 10px 70px;
}

.users h3{
    width: 45%;
    text-align: center;
    border: 1px solid darkred;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 0;
}

#user-box h4, #user-box p{
    margin: 30px 50px;
}

#user-box button{
    width: 230px;
    height: 60px;
    background-color: aquamarine;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    margin: 30px 40%;
}

.posts-box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.posts-box h4{
    width: 15%;
}

#posts-details{
    margin: 30px 30px;
    font-size: 25px;
}

.comments-box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.comments-box p{
    width: 20%;
    font-size: 18px;
    margin: 20px 30px;
}

